<div class="mobileMenuContainer">
  <button class="menuIconsButton">
    <a class="menuIconsLink" href="/"><i class="menuIcons bi bi-house"></i></a>
  </button>
  <button class="menuIconsButton">
    <a class="menuIconsLink" href="/trainers"
      ><i class="menuIcons bi bi-people"></i
    ></a>
  </button>
  <button class="menuIconsButton">
    <i class="menuIcons bi bi-bookmarks"></i>
  </button>
  <button class="menuIconsButton <%=displayButton%>">
    <a class="menuIconsLink" href="/profile"
      ><i class="menuIcons bi bi-person-circle"></i
    ></a>
  </button>
  <button class="<%=displayImage%> menuIconsButton">
    <a href="/profile"
      ><img class="profilePicture" src="<%=imageSource%>" alt=""
    /></a>
  </button>
</div>
