<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1><%=name%></h1>
    <img src=<%=image%> />
    <a href='/host/<%=url%>'>
        Join as a host
    </a>

    <form action='/api/uploadFile' enctype='multipart/form-data' method="post">
        <input type="file" id="myFile" name="myFile">
        <input type="submit">
    </form>
</body>

</html>